html, body, * {
  margin: 0;
  padding: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
}

#repo-url {
  width: 500px;
  transition: width ease 0.6s;
}

@media only screen and (max-width: 600px) {
  #repo-url {
    width: 80%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}